/* You can add global styles to this file, and also import other style files */

.primary-button {
    padding: 7px 12px;
    border-radius: 20px;
    color: #6d4d4d;
    border: #6d4d4d 1px solid;
    cursor: pointer;
}

body {
    background: #f3ececa3;
}

.red {
    color: red;
}

.center {
    text-align: center;
}

.button {
    border: white 1px solid;
    padding: 7px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}